 <!-- Navbar -->
    <nav th:fragment="navbar" class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h6 class="font-weight-bolder mb-0" th:if="${session.grade == '관리자' or session.grade == '상담사' or session.grade == '교수'}">
          	[[${session.grade}]]님 환영합니다.</h6>
          <h6 class="font-weight-bolder mb-0" th:if="${session.userId == null}">
        	로그인 해주세요.
  		  </h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group input-group-outline">
              <form action="/login" method="get" style="display:inline;" th:if="${session.userId == null}">
 				 <button type="submit" class="btn btn-info btn-sm" style="width: 80px;">로그인</button>
			  </form>
			  <form action="/logout" method="post" style="display:inline;" th:if="${session.userId != null}">
  				<button type="submit" class="btn btn-danger btn-sm" style="width: 80px;">로그아웃</button>
			  </form>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->