<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.wizian.web.dao.AdminDAO">

	<select id="studentList" resultType="Map">
		SELECT s.STUD_NO, s.USER_NO, s.PF_NO, s.NTN_CD, s.SCSBJT_NM, s.STUD_NM, s.TELNO, s.STUD_EML_ADDR, s.COL_REG, s.STUD_BRDT, s.STUD_GEN, n.NTN_NM, p.PF_NM
		FROM STUD_INFO s
		JOIN NATIONAL_INFO n ON s.NTN_CD = n.NTN_CD
		JOIN PF_INFO p on s.PF_NO = p.PF_NO
	</select>
	
	<select id="getGcounStudList" resultType="Map" parameterType="String">
		SELECT a.STUD_NO, a.GCOUN_CD, a.GCOUN_STA_NM, a.GCOUN_ATND_YN, a.GCOUN_ATND_STUD_RV, a.GCOUN_CSL_RV,
		i.SCSBJT_NM, i.STUD_GEN, i.TELNO, i.STUD_EML_ADDR, i.COL_REG, i.STUD_NM,
		gc.CSL_NO, gc.GCOUN_NM, gc.GCOUN_BGNG_DT, c.CSL_NM
		FROM GROUP_COUN_APPLICANT a
		JOIN STUD_INFO i ON a.STUD_NO = i.STUD_NO
		JOIN GROUP_COUN_INFO gc ON a.GCOUN_CD = gc.GCOUN_CD
		JOIN COUNSELOR c ON gc.CSL_NO = c.CSL_NO
		WHERE a.GCOUN_CD = #{gcounCd}
	</select>
	
	<select id="getGcounList" resultType="Map">
		SELECT i.GCOUN_CD, i.CSL_NO, i.GCOUN_NM,
		 	   DATE_FORMAT(i.GCOUN_DT, '%Y-%m-%d %H:%i') AS GCOUN_DT, 
		 	   i.GCOUN_BGNG_DT, i.GCOUN_DDLN_DT,
			   i.GCOUN_LMT_COUNT, i.GCOUN_CONTS_CN, i.GCOUN_DTL_CN, i.GCOUN_PROG_STA_NM,
			   i.GCOUN_REG_COUNT, i.GCOUN_ATND_COUNT, c.CSL_NM
		FROM GROUP_COUN_INFO i
		JOIN COUNSELOR c ON i.CSL_NO = c.CSL_NO
	</select>
	
	
	<!-- ★★★★★ 취업상담 ★★★★★ -->
	<select id="getEcounList" resultType="Map">
		SELECT c.CSL_NM, e.CSL_NO, c.CSL_EMAIL, c.CSL_MOBILE, e.SCSBJT_NM 
		FROM EMP_COUN_PRO e 
		JOIN COUNSELOR c ON c.CSL_NO = e.CSL_NO
	</select>
	
	<select id="getEcounStudList" resultType="Map" parameterType="String">
		SELECT COUN_NUM, COUN_NUM2, STUD_NO, CAL_NUM, EMP_COUN_RSVT_YMD, EMP_COUN_RSVT_CD, EMP_COUN_YMD, EMP_COUN_CD, USR_CN, COUN_CN, EMP_STTS_CD
		FROM EMP_COUN_TAB
		WHERE CAL_NUM IN (
			SELECT CAL_NUM 
			FROM EMP_COUN_CAL
			WHERE CSL_NO = #{cslNo}
		);
	</select>
	
	
	
</mapper>