<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wizian.web.mapper.AppointmentMapper">

  <insert id="insertAppointment" parameterType="com.wizian.web.dto.AppointmentDTO">
        INSERT INTO appointments (name, student_id, department, phone_number, email, date, time)
        VALUES (#{name}, #{studentId}, #{department}, #{phoneNumber}, #{email}, #{date}, #{time})
    </insert>

    <select id="getAllAppointments" resultType="com.wizian.web.dto.AppointmentDTO">
        SELECT name, student_id AS studentId, department, phone_number AS phoneNumber, email, date, time
        FROM appointments
    </select>
</mapper>