<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.wizian.web.dao.GroupDAO">

	<select id="groupList" resultType="Map">
		SELECT * 
		FROM GROUP_COUN_INFO
		ORDER BY GCOUN_DT
	</select>
	
	<select id="mainGroupImg" resultType="String">
		SELECT GCOUN_CONTS_CN
		FROM GROUP_COUN_INFO
		WHERE GCOUN_PROG_STA_NM = '모집중'
		ORDER BY GCOUN_DT
	</select>
	
	<insert id="groupEnroll" parameterType="GroupDTO">
		INSERT INTO GROUP_COUN_APPLICANT (STUD_NO, GCOUN_CD, GCOUN_CURRENT_DT)
		VALUES(#{STUD_NO}, #{GCOUN_CD}, #{GCOUN_CURRENT_DT})
	</insert>
	
	<!-- 마이페이지 정보 보기 -->
	<select id="selectMyInfo" resultType="Map" parameterType="String">
		SELECT p.PF_NM, p.PF_TELNO, p.PF_EMAIL, n.NTN_NM, s.SCSBJT_NM, s.STUD_NM, s.TELNO, s.STUD_EML_ADDR, s.COL_REG, s.STUD_BRDT, s.STUD_GEN , s.STUD_NO
		FROM STUD_INFO s
		JOIN PF_INFO p ON s.PF_NO = p.PF_NO 
		JOIN NATIONAL_INFO n ON s.NTN_CD = n.NTN_CD
		WHERE STUD_NO = #{userId} 
	</select>
	
	<update id="updateEmail" parameterType="String">
		UPDATE STUD_INFO
    	SET STUD_EML_ADDR = #{value}
    	WHERE STUD_NO = #{userId}
	</update>
	
	<update id="updateGender" parameterType="String">
		UPDATE STUD_INFO
    	SET STUD_GEN = #{value}
    	WHERE STUD_NO = #{userId}
	</update>	
	
	<update id="updateTelNo" parameterType="String">
		UPDATE STUD_INFO
    	SET TELNO = #{value}
    	WHERE STUD_NO = #{userId}
	</update>	
	
</mapper>