<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.wizian.web.dao.GroupDAO">

	<select id="groupList" resultType="Map">
		SELECT * 
		FROM GROUP_COUN_INFO
		ORDER BY GCOUN_DT
	</select>
	
	<select id="mainGroupImg" resultType="String">
		SELECT GCOUN_CONTS_CN
		FROM GROUP_COUN_INFO
		WHERE GCOUN_PROG_STA_NM = '모집중'
		ORDER BY GCOUN_DT
	</select>

</mapper>