<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.wizian.web.dao.GroupDAO">

	<select id="groupList" resultType="Map">
		SELECT * 
		FROM GROUP_COUN_INFO
		ORDER BY GCOUN_DT
	</select>
	
	<select id="mainGroupImg" resultType="String">
		SELECT GCOUN_CONTS_CN
		FROM GROUP_COUN_INFO
		WHERE GCOUN_PROG_STA_NM = '모집중'
		ORDER BY GCOUN_DT
	</select>
	
	<insert id="groupEnroll" parameterType="GroupDTO">
		INSERT INTO GROUP_COUN_APPLICANT (STUD_NO, GCOUN_CD)
		VALUES(#{STUD_NO}, #{GCOUN_CD})
		<!-- MyBatis에서 INSERT의 경우 성공적으로 수행된 행의 수를 반환할 수 있도록 설정 -->
    <selectKey keyProperty="id" resultType="int" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey>
	</insert>
	
	<select id="selectMyInfo" resultType="Map" parameterType="String">
		SELECT * 
		FROM STUD_INFO 
		WHERE STUD_NO = #{userId} 
	</select>
	
</mapper>