<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.wizian.web.dao.EmploymentDAO">

	<select id="boardList" resultType="Map">
		select * 
		FROM EMP_COUN_PRO 
		LIMIT 0, 9
	</select>
	
	<select id="empCounProfile" resultType="Map">
		select * 
		FROM EMP_COUN_PRO 
	</select>
	
	<select id="selectEmpCoun" resultType="Map" parameterType="String">
		select * 
		FROM EMP_COUN_PRO 
		WHERE CSL_NO = #{cslNo}
	</select>

</mapper>