<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.wizian.web.dao.EmploymentDAO">

	<select id="boardList" resultType="Map">
		select * 
		FROM EMP_COUN_PRO 
		LIMIT 0, 9
	</select>
	
	<select id="empCounProfile" resultType="Map">
		select * 
		FROM EMP_COUN_PRO 
	</select>
	
	<select id="selectEmpCoun" resultType="Map" parameterType="String">
		select * 
		FROM EMP_COUN_PRO 
		WHERE CSL_NO = #{cslNo}
	</select>
	
	<select id="calSelectApply" resultType="Map" parameterType="String">
		SELECT DATE_FORMAT(STR_TO_DATE(`DATE`, '%Y-%m-%d'), '%m-%d') AS DATE_PART, 
        CONCAT(EMP_COUN_CD, ':00') AS Selected_DATE  
		FROM JINSU_TESTTABLE 
		WHERE CSL_NO = 'CSL11'
	</select>
	
	<!-- 로그인 기능 구현되어야 지 사용 가능 -->
	<!-- 
	<insert id="insertEmpCal" parameterType="com.wizian.web.dto.EventData">
    	INSERT INTO EMP_COUN_TAB (EMP_COUN_CD, STUD_NM)
    	VALUES (#{start}, '더미값')
	</insert>
	 -->
	
	<!-- 
	<insert id="insertEmpCal" parameterType="String">
    	INSERT INTO JINSU_TESTTABLE (EMP_COUN_CD, DATE)
    	VALUES (#{empCounCd}, #{dateOnly})
	</insert>
	-->
	
	<insert id="insertEmpCal" parameterType="EventData">
    	INSERT INTO JINSU_TESTTABLE (CSL_NO, EMP_COUN_CD, DATE, USR_CN)
    	VALUES (#{CSL_NO}, #{empCounCd}, #{dateOnly}, #{title})
	</insert>
	
	<!-- 
	<select id="updateCal" parameterType="String" resultType="Map">
		select DATE 
		FROM EMP_COUN_CAL 
		WHERE CSL_NO = #{cslNo}
	</select>
	 -->
	
	<!-- DB에 DATE타입이 CHAR여서 DATE로 변경해주는거 -->
	<select id="updateCal" parameterType="String" resultType="Map">
	    select DATE_FORMAT(DATE, '%Y-%m-%d') as DATE, EMP_COUN_CD
	    FROM JINSU_TESTTABLE 
	    WHERE CSL_NO = #{cslNo}
	</select>
	
	<select id="empCalList" parameterType="String" resultType="Map">
	    select CSL_NO, DATE_FORMAT(DATE, '%Y-%m-%d') as DATE, EMP_COUN_CD, USR_CN 
	    FROM JINSU_TESTTABLE 
	    WHERE CSL_NO = #{cslNo1}
	</select>

</mapper>