<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.wizian.web.dao.MainDAO">	
	<select id="pfCounList" parameterType="String" resultType="Map">
	SELECT PCI.PF_COUN_NO, PI.PF_NM, PCI.PF_COUN_RSVT_YMD, PCI.PF_COUN_RSVT_TIME, PCI.PF_CONTENTS, PCI.PF_COUN_STATE_CD 
	FROM PF_COUN_INFO PCI JOIN PF_INFO PI ON PCI.PF_NO = PI.PF_NO
	WHERE STUD_NO = #{userId}
	</select>
	
	<select id="gCounList" parameterType="String" resultType="Map">
	SELECT GCI.GCOUN_NM, CS.CSL_NM, GCI.GCOUN_DT, GCA.GCOUN_STA_NM 
	FROM GROUP_COUN_APPLICANT GCA JOIN GROUP_COUN_INFO GCI ON GCA.GCOUN_CD=GCI.GCOUN_CD 
	JOIN COUNSELOR CS ON GCI.CSL_NO=CS.CSL_NO
	WHERE STUD_NO =#{userId}
	</select>
	
	<select id="eCounList" parameterType="String" resultType="Map">
	SELECT ECT.COUN_NUM, ECT.COUN_NUM2, CS.CSL_NM, ECT.EMP_COUN_RSVT_YMD, ECT.EMP_COUN_RSVT_CD, ECT.USR_CN, ECT.EMP_STTS_CD
	FROM EMP_COUN_TAB ECT JOIN EMP_COUN_CAL ECC ON ECT.CAL_NUM=ECC.CAL_NUM 
	JOIN COUNSELOR CS ON ECC.CSL_NO= CS.CSL_NO
	WHERE STUD_NO=#{userId}
	</select>
	
	<select id="psyCounList" parameterType="String" resultType="Map">
	SELECT `Key`, VISIT_RES_YMD, VISIT_RES_CD, COUN_PRO_CD FROM PSY_EXAM_VISIT_REQUEST 
	WHERE STUD_NO=#{userId}
	</select>
	
	<select id="inCounList" parameterType="String" resultType="Map">
	SELECT PST_SN, PST_SN_OLD, PST_TTL, PST_CAT, PSTG_YMD, PST_COMP
	FROM ICOUN_POSTS
	WHERE WRITER=#{userId}
	</select>
</mapper>