<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.wizian.web.dao.MemberDAO">

	<select id="getMemberById" resultType="MemberDTO" parameterType="String">
		select * 
		FROM USER 
		WHERE LOGIN_ID = #{id}
	</select>
	
	<select id="empUserInfo" resultType="map" parameterType="String">
		SELECT STUD_NO, USER_NO, PF_NO, NTN_CD, SCSBJT_NM, STUD_NM, TELNO, STUD_EML_ADDR, COL_REG, STUD_BRDT, STUD_GEN
		FROM STUD_INFO 
		WHERE STUD_NO = #{userId}
	</select>
	
</mapper>