
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="./css/styles.css" rel="stylesheet" />
        <link href="./css/shinjin.css" rel="stylesheet" />
        
        <!-- Bootstrap CSS -->
	    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	    <!-- Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
<style>
#sidenav{background: #B6B6B6; float:left; margin-right:20px; padding:10px; margin-top:40px; width:200px; height:780px; text-align:center;}
.leftnavapply {text-align: center; background-color: gray;}
.button{margin-bottom:30px; color:white; font-size:15pt; width:140px; height:35px; background-color:#A41034; border: none;}
#content{background: #B6B6B6; float:left; padding:10px; margin-top:40px; width:1000px; height:780px;}
</style>
       
</head>
<body>
	<!-- 메뉴-->
        <div th:replace="~{menu :: Menu}"></div>
        
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">

		<div class="d-flex justify-content-center">
		
	        <!-- 좌측 메뉴 nav -->
	        <!-- <div th:replace="~{leftmenu :: LeftMenu}"></div> -->
	        <form th:action="@{/empCounProfile}" >
	        <div id="sidenav">
				<p style="margin-top:20px; margin-bottom:80px; font-weight:bold; font-size:20pt;">취업 상담</p>
				<button class="button" type="submit" onclick="openPage('/empCounProfile')">상담사 소개</button><br>
				<button class="button" type="submit" onclick="openPage('/psycoun_type')">상담 신청</button><br>
				<button class="button" type="submit" onclick="openPage('/psycoun_app')"></button>
			</div>
            </form>
	        
	        <div id="content">
        		메인 내용
        	</div>
        </div>
        </div>	
        <!-- 푸터-->
        <div th:replace="~{footer :: Footer}"></div>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="./js/scripts.js"></script>
    </body>
</html>
