<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>집단상담</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
</head>
<body>
	<!-- 메뉴-->
	<div th:replace="menu :: Menu"></div>
        
	<!-- Page Content-->
	<div class="container px-4 px-lg-5">
		<h1 class="text-center">집단 상담</h1>
		
    
    <div class="row row-cols-1 row-cols-md-2 g-4">
    
  <div class="col" th:each="gl : ${groupList}">
    <div class="card border-dark bg-secondary text-white mb-3">
      <img th:src="@{'images/'+ ${gl.GCOUN_CONTS_CN}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">[[${gl.GCOUN_NM}]] <span class="badge text-bg-dark">[[${gl.GCOUN_PROG_STA_NM}]]</span></h5>
        <p class="card-text">일시 : <span th:text="${#dates.format(gl.GCOUN_DT, 'yyyy년 MM월 dd일(EE) HH시 mm분')}"></span>
        <br>모집 기간 : <span th:text="${#dates.format(gl.GCOUN_BGNG_DT, 'yyyy년 MM월 dd일(EE)')}"></span> ~ <span th:text="${#dates.format(gl.GCOUN_DDLN_DT, 'yyyy년 MM월 dd일(EE)')}"></span>
        <br>신청 현황 : [[${gl.GCOUN_REG_COUNT}]] / [[${gl.GCOUN_LMT_COUNT}]]</p>
        <a href="/group/detail" class="btn btn-primary" style="width: 100%;">신청 하기</a>
      </div>
    </div>
  </div>
  
  </div>
</div>
    
	<!-- 푸터-->
	<div th:replace="footer :: Footer">
	 </div>
        
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>
</html>