<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>중앙대학교 상담센터</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        
        
<style>
#sidenav{background: #B6B6B6; float:left; margin-right:20px; padding:10px; margin-top:40px; width:200px; height:780px; text-align:center;}
.button{margin-bottom:30px; color:white; font-size:15pt; width:140px; height:35px; background-color:#A41034; border: none;}
#content{background: #B6B6B6; float:left; padding:10px; margin-top:40px; width:1000px; height:780px;}


</style>        
 </head>
 
 
    <body class="d-flex flex-column min-vh-100">
    
        <!-- 메뉴-->
        <div th:insert="~{menu :: Menu}"></div>
        
        <!-- Page Content-->
        <div class="container px-4 px-lg-5" style="height:100%">
        
        	<div id="sidenav">
				<p style="margin-top:20px; margin-bottom:80px; font-weight:bold; font-size:30pt;">센터소개</p>
				<button class="button" type="submit">소개</button><br>
			</div>
        
        <div id="content">
        <section id="top"><br>
			<p style="margin-top:20px; margin-bottom:20px; font-size:23pt; font-weight:bold;">&nbsp| 센터소개</p>
			<p style="font-size:16pt; font-style:italic;">&nbsp;&nbsp;&nbsp;중앙대학교 학생상담센터에 오신 것을 환영합니다.</p>
            <p style="font-size:13pt;">&nbsp;&nbsp;&nbsp;우리대학 학생들의 건강한 대학생활을 위해<br>
            &nbsp;&nbsp;&nbsp;정신적, 심리적 건강 증진과 학습행동 및 정서 측면의 인간적 성장을 위해 설립되었습니다.<br><br>
            &nbsp;&nbsp;&nbsp;학생상담센터는 더 나은 삶을 선택하려는 용기있는 사람들과 늘 함께 합니다.</p>
            
		</section>
        
		<section id="bottom"><br>
			<p style="margin-top:20px; margin-bottom:20px; font-size:23pt; font-weight:bold;">&nbsp| 업무내용</p>
            <p style="font-size:13pt">&nbsp;&nbsp;&nbsp;학생들이 자아를 성찰하고 미래를 설계하여 보다 적극적이고 보람있는 대학생활을
            해나갈 수 있도록<br>&nbsp;&nbsp;&nbsp;연구와 상담을 통해 지원하는 상담기관입니다.<br><br>
            &nbsp;&nbsp;&nbsp;상담센터에서는 개인상담, 집단상담, 지도교수상담, 취업상담, 심리검사 및 해석상담을 통해<br>
            &nbsp;&nbsp;&nbsp;대학생활 적응력 향상, 대인관계, 진로 적성 탐색 등에 도움받을 수 있으며,<br>
            &nbsp;&nbsp;&nbsp;개인의 잠재력 개발을 위한 전문적 상담 서비스를 제공합니다.<br><br>
            &nbsp;&nbsp;&nbsp;여러분의 적극적인 참여와 지속적 관심을 부탁드립니다.</p>
		</section>
        </div>
        
        </div>
        
		<div th:replace="~{footer :: Footer}"></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
