<!DOCTYPE html>

<html>
<head>
<title>Document</title>
</head>
<body>
	<div class="1" style="width: 1440px; height: 1024px; position: relative; background: white">
  <div class="Rectangle17" style="width: 1165px; height: 83px; left: 208px; top: 144px; position: absolute; background: #808285"></div>
  <div class="Rectangle18" style="width: 1245px; height: 631px; left: 170px; top: 253px; position: absolute; opacity: 0.50; background: #B6B6B6"></div>
  <div style="width: 365px; height: 24px; left: 268px; top: 41px; position: absolute; color: white; font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word">센터소개</div>
  <div style="width: 438px; height: 37px; left: 659px; top: 154px; position: absolute; color: rgba(0, 0, 0, 0.80); font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word">취업 상담 소개</div>
  <div style="width: 394px; height: 18px; left: 640px; top: 41px; position: absolute; color: white; font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word">로그인/로그아웃</div>
  <div style="width: 251px; height: 18px; left: 1106px; top: 41px; position: absolute; color: white; font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word">마이페이지</div>
  <img class="Pngegg1" style="width: 156px; height: 156px; left: 14px; top: 12px; position: absolute" src="https://via.placeholder.com/156x156" />
  <img class="Pngegg2" style="width: 156px; height: 156px; left: 14px; top: 12px; position: absolute" src="https://via.placeholder.com/156x156" />
  <div style="width: 1440px; height: 87px; left: 0px; top: 937px; position: absolute">
    <div class="Rectangle17" style="width: 1440px; height: 86px; left: 0px; top: 0px; position: absolute; background: black"></div>
    <div class="1762209500629200900040Tel027041711Fax023939218176105919578920141125Tel023131711Fax02393921802197000003InfoprotectChoongangCoKrCopyright1969ByChoongangInstituteAllRightsReserved" style="width: 1338px; height: 87px; left: 51px; top: 0px; position: absolute; color: white; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18px; word-wrap: break-word">서울 마포구 신촌로 176 중앙빌딩 / 대표자:정상은 / 사업자등록번호:220-95-00629 / 통신판매번호:제 2009-서울마포-00040호 / TEL:02-704-1711 / FAX:02-393-9218<br/>서울 마포구 신촌로 176 중앙빌딩 / 대표자:정재원 / 사업자등록번호:105-91-95789 / 통신판매번호:제 2014-서울마포-1125호 / TEL:02-313-1711 / FAX:02-393-9218<br/>학원설립/운영 등록번호: 제02197000003호 중앙정보처리학원 / 중앙정보기술인재개발원<br/>개인정보관리책임자:유창현, infoprotect@choongang.co.kr Copyright ⓒ 1969 by CHOONGANG INSTITUTE, All Rights Reserved.</div>
  </div>
  <div style="width: 1174px; height: 82px; left: 199px; top: 35px; position: absolute">
    <div class="Rectangle13" style="width: 1165.44px; height: 53.06px; left: 8.56px; top: 14.47px; position: absolute; background: #A41034"></div>
    <div style="width: 384.05px; height: 82px; left: 0px; top: 0px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 500; line-height: 30px; word-wrap: break-word">센터소개</div>
    <div style="width: 384.05px; height: 82px; left: 373.59px; top: -0px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 500; line-height: 30px; word-wrap: break-word">로그인</div>
    <div style="width: 384.05px; height: 82px; left: 768.09px; top: -0px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 500; line-height: 30px; word-wrap: break-word">마이페이지</div>
  </div>
  <div class="Line1" style="width: 1165px; height: 0px; left: 208px; top: 338px; position: absolute; border: 1px black solid"></div>
  <div class="Group39" style="width: 124px; height: 631px; left: 30px; top: 254px; position: absolute">
    <div class="Rectangle21" style="width: 124px; height: 631px; left: 0px; top: 0px; position: absolute; background: #A41034"></div>
  </div>
</div>
</body>
</html>