<nav th:fragment="LeftMenu" class="leftnavbar leftnavbar-expand-lg leftnavbar-dark bg-leftnav1">
    <ul class="leftnav">
        <h1>취업 상담</h1>
        <li><a href="#">상담소개</a></li>
        <li>
            <!-- <a href="/empApply" th:onclick="|toggleDropdown(event)|">상담신청</a> -->
            <a class="nav-link dropdown-toggle" href="/empApply" role="button" data-bs-toggle="dropdown" aria-expanded="false">상담신청</a>
			<ul class="dropdown-menu dropdown-menu-end" style="width: max-content;">
			    <li><a href="#">상담사소개</a></li>
			    <li><a class="dropdown-item" href="empSelectCal">일자 선택</a></li>
			    <!-- <li><a href="#">시간선택</a></li> -->
			    <li><a class="dropdown-item" href="empSelectTime">시간 선택</a></li>
			    <li><a href="#">상담신청서</a></li>
			</ul>
        </li>
        
        <li><a href="#">취업상담</a></li>
        <li><a href="#">이력서 작성 팁</a></li>
        <li><a href="#">취업정보</a></li>
    </ul>
</nav>

<script>
</script>