<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
.topMenu {
	margin-left:20%;
}
.menu {
	width: 100%;
	height: 50px;
	background-color: #A41034;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.menu > a {
	color: white;
	text-decoration: none;
	font-size: large;
	font-weight: bold;
}
</style>
<body>
	<div class="container">
		<div class="topMenu">
			<nav class="menu">
				<a href="./introduce">센터 소개</a>
				<a href="./login">로그인</a>
				<a href="./notice">공지사항</a>
				<a href="./notice">공지사항</a>
			</nav>		
		</div>
	</div>
</body>
</html>