<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>중앙대학교 상담센터</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- 메뉴-->
        <div th:insert="~{menu :: Menu}"></div>
        
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
        
            <!-- Heading Row 크루셀-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
   					 <div id="carousel" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
      				  <!-- Carousel Indicators 조건적 생성 -->
      				 	 <div class="carousel-indicators" th:if="${#lists.size(mainGroupImg) > 1}">
         				   <button th:each="path, stat : ${mainGroupImg}" th:attr="data-bs-slide-to=${stat.index}, aria-label='Slide ${stat.count}'"
                		    type="button" data-bs-target="#carousel" th:class="${stat.first} ? 'active' : ''" aria-current="true"></button>
        			</div>
        
      			  <!-- Carousel Items -->	
      			  <div class="carousel-inner" onclick="location.href='/group';" style="cursor: pointer;">
          			  <div th:each="path, stat : ${mainGroupImg}" th:classappend="${stat.first} ? 'carousel-item active' : 'carousel-item'">
            		    <img th:src="@{'images/' + ${path}}" class="img-fluid rounded mb-4 mb-lg-0" alt="..."/>
         			   </div>
        		  </div>
        
      			  <!-- Carousel Controls 조건적 생성 -->
       			 <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev"
                th:if="${#lists.size(mainGroupImg) > 1}">
          		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          		  <span class="visually-hidden">이전</span>
       			 </button>
       			 <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next"
                th:if="${#lists.size(mainGroupImg) > 1}">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">다음</span>
        </button>
    </div>
</div>
                
                <div class="col-lg-5">
                    <h1 class="font-weight-light">공지사항</h1>
                    <p>집단 상담은 유사한 관심을 가진 10명 이내의 사람들이 모여 자신의 이야기를 함께 나누는 모임입니다.<br>상호 지지적인 분위기 속에서 자신의 문제를 해결하고 새로운 행동을 실천해 볼 수 있는 경험을 통해 성장의 기회를 갖게 됩니다.</p>
                    <a class="btn btn-primary" href="/group">바로가기</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">잘했고, 잘하고있고, 잘할거야<br>어깨 쭉펴! 너는 소중한 사람이야</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-3 mb-5">
                    <div class="card h-70">
                    	<img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">지도교수상담</h4>
                            <p>지도교수 상담은 학생들이 학업 및 진로에 관한 조언과 지도를 받는 과정입니다. 지도교수 외 다른 교수님께도 상담 신청 가능합니다.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/pfCoun">바로가기</a></div>
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                    <div class="card h-70">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">취업 상담</h4>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/employment">바로가기</a></div>
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                    <div class="card h-70">
                       	<img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">심리 상담</h4>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/psycoun_proc">바로가기</a></div>
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                    <div class="card h-70">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">개인 상담</h4>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/indicoun">바로가기</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 푸터-->
        <div class="container px-4 px-lg-5" th:insert="~{footer :: Footer}">
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
