<nav th:fragment="Menu" class="navbar navbar-expand-lg navbar-dark bg-main">
	<div class="container px-5">
		<a class="navbar-brand" href="/main">
			<img src="images/logo.png" alt="Logo" width="40" height="30" class="d-inline-block align-text-top">
		중앙대학교 상담센터
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<!--<li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li> 활성화 된 페이지 색상 변경하기-->
				<li class="nav-item"><a class="nav-link" href="/intro">센터소개</a></li>
				<li class="nav-item"><a class="nav-link" href="/notice">공지사항</a></li>
				<li class="nav-item"><a class="nav-link" href="https://www.choongang.co.kr">중앙대학교</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">상담신청</a>
					<ul class="dropdown-menu">
			            <li><a class="dropdown-item" href="/pfCoun">지도교수 상담</a></li>
			            <li><a class="dropdown-item" href="/group">집단 상담</a></li>
			            <li><a class="dropdown-item" href="/employment">취업 상담</a></li>
			            <li><a class="dropdown-item" href="/psycoun_proc">심리 상담</a></li>
			            <li><a class="dropdown-item" href="#">개인 상담</a></li>
		        	</ul>
				</li>
				<li th:if="${userId == null}" class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
				<li th:if="${userId != null}" class="nav-item"><a class="nav-link" href="/mypage">마이페이지</a></li>
				<li th:if="${userId != null}" class="nav-item">
				<form action="/logout" method="post" style="display:inline;">
                            <button type="submit" class="nav-link" style="background:none; border:none; padding:0; color:inherit; cursor:pointer;">로그아웃</button>
                        </form></li>
			</ul>
		</div>
	</div>
</nav>