<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>지도 교수 상담 신청</title>
	 <!-- Favicon-->
     <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
     <!-- Core theme CSS (includes Bootstrap)-->
     <link href="css/styles.css" rel="stylesheet" />
     <!-- fullCalendar -->
     <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
     <!-- jquery  -->
     <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
     <style type="text/css">
     	#sidenav{background: #B6B6B6; float:left; margin-right:20px; padding:10px; margin-top:10px; margin-bottom:10px; width:200px; height:780px; text-align:center;}
     	#sidemenu{background-color:#A41034; color: white;}
     </style>
	<script type="text/javascript">
	$(function(){});
	</script>
</head>
<body class="" style="">
 	<!-- 메뉴-->
	<div th:replace="menu :: Menu"></div>
		<!-- Page Content-->
		<div class="container h-100 px-4 px-lg-5">
		<main class="h-100">
		<div class="row justify-content-center h-100">
			<aside class="col-lg-3 d-flex justify-content-center" >	
					<div id="sidenav" class="flex-column text-center mx-auto" style="border-radius: 10px;">
						<p style="margin-top:20px; margin-bottom:80px; font-weight:bold; font-size:20pt;">지도교수상담</p>
						<hr>
						<a class="navbar-brand sidemenu" href="/pfCoun">상담신청</a>
						<hr>
					</div>			
			</aside>
			<!-- 지도교수 상담에 대하여 -->
			<section class="col-lg-9">			
			<div id="info" class=""><br>
				<p style="margin-top:20px; margin-bottom:20px; font-size:23pt; font-weight:bold;">&nbsp| 지도교수상담?</p>
           		<p style="font-size:13pt">&nbsp;&nbsp;&nbsp;지도교수, 혹은 희망하는 교수님께 방문 상담 신청을 진행하실 수 있습니다.<br>
            	&nbsp;&nbsp;&nbsp;심리검사는 무료로 실시됩니다.</p>
			</div>
			<!-- 신청폼 -->
			<form class="container mx-auto py-3" style="border-style:solid; border-color:#B6B6B6;">
				<!-- 상담사 선택, 지도교수로 기본 선택이 되어 있어야함-->
				<div class="row mb-3 w-80 mt-3 mx-auto">
					<label for="professor" class="col-sm-2 col-form-label text-center">상담 신청</label>
					<div class="col-sm-10 d-flex align-items-center">
						<span class="input-group-text" id="professor">지도교수이름</span>
						<button type="button" class="btn mx-2" data-bs-toggle="modal" data-bs-target="#pfchoicemodal" style="background-color: #B6B6B6">교수 선택</button>
					</div>
				</div>
				<!-- 날짜 선택 -->
				<div class="row mb-3 w-80 mx-auto">
					<label for="schedule" class="col-sm-2 col-form-label text-center">날짜 선택</label>
					<div class="col-sm-10 d-flex align-items-center">
						<span class="input-group-text" id="schedule">선택한 날짜와 시간 여기 표시</span>
						<img data-bs-toggle="modal" data-bs-target="#pfscdmodal" src="images/calendar_icon.png" alt="Calendar" class="mx-2">
					</div>
				</div>
				<div class="row mb-3 w-80 mx-auto">
					<label for="coun-request" class="col-sm-2 col-form-label text-center">학생정보</label>
					<div class="col-sm-10 d-flex align-items-center">
						<span class="input-group-text" id="professor">학생 학번</span>
					</div>
				</div>
				<!-- 상담 내용 작성 -->
				<div class="row mb-3 w-80 mx-auto">
					<label for="Counseling-content" class="col-sm-2 col-form-label text-center">상담 내용</label>
					<div class="col-sm-10">
					   <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" style="resize:none;"></textarea>
					</div>
				</div>
				<!-- 첨부 파일 -->
				<div class="row mb-3 w-80 mx-auto">
				<label for="" class="col-sm-2 col-form-label text-center">첨부파일</label>
					<div class="col-sm-10 d-flex align-items-center">
						<input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
						<!-- 업로드 버튼은 삭제할지도..? -->
						<button class="btn btn-outline-secondary col-2" type="button" id="inputGroupFileAddon04">업로드</button>
					</div>	
				</div>
				<!-- 상담신청 버튼 -->
				<div class="input-group justify-content-center w-10 mx-auto">
					<button type="button" class="btn mb-3" style="background-color: #A41034; color: white;">상담신청</button>
				</div>
			</form>
			</section>
			</div>
		</main>
	</div>
	<!-- 상담사 선택 모달창 -->
	<div id="pfchoicemodal" class="modal fade" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">지도교수 선택</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table>
						<thead>
							<tr>
								<th>교수 이름</th>
								<th>학과</th>
								<th>교수 전화번호</th>
								<th>교수 이메일</th>
								<th>선택</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        		<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 날짜 및 시간 선택 모달창 API 찾아보기 -->
<div id="pfscdmodal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">일정 선택</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="calendar"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
     <script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
	        var calendarEl = document.getElementById('calendar');
	        var calendar = new FullCalendar.Calendar(calendarEl, {
	        	headerToolbar:{//헤더에 표시할 툴바
	        		left:'prev',
	        		center: 'title',
	        		right:'next',
	        	},
				initialView: 'timeGridWeek',
				locale: 'kr',
				slotMinTime: '09:00',
				slotMaxTime: '18:00'
			});
			calendar.render();
		});
     
     	$(function(){
     		
     	});
     </script>
	<!-- footer-->
	<div class="container px-4 px-lg-5" th:replace="footer :: Footer">
	</div>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>
</html>