<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>지도 교수 상담 신청</title>
	 <!-- Favicon-->
     <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
     <!-- Core theme CSS (includes Bootstrap)-->
     <link href="css/styles.css" rel="stylesheet" />
     <!-- fullCalendar -->
     <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
     <!-- jquery  -->
     <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
     
     <style type="text/css">
     	#sidenav{background: #B6B6B6; float:left; margin-right:20px; padding:10px; margin-top:10px; margin-bottom:10px; width:200px; height:780px; text-align:center;}
     	#sidemenu{background-color:#A41034; color: white;}
     </style>

</head>
<body class="" style="">
 	<!-- 메뉴-->
	<div th:replace="menu :: Menu"></div>
		<!-- Page Content-->
		<div class="container h-100 px-4 px-lg-5">
		<main class="h-100">
		<div class="row justify-content-center h-100">
			<aside class="col-lg-3 d-flex justify-content-center" >	
					<div id="sidenav" class="flex-column text-center mx-auto" style="border-radius: 10px;">
						<p style="margin-top:20px; margin-bottom:80px; font-weight:bold; font-size:20pt;">지도교수상담</p>
						<hr>
						<a class="navbar-brand sidemenu" href="/pfCoun">상담신청</a>
						<hr>
					</div>			
			</aside>
			<!-- 지도교수 상담에 대하여 -->
			<section class="col-lg-9">			
			<div id="info" class=""><br>
				<p style="margin-top:20px; margin-bottom:20px; font-size:23pt; font-weight:bold;">&nbsp| 지도교수상담?</p>
           		<p style="font-size:13pt">&nbsp;&nbsp;&nbsp;지도교수, 혹은 희망하는 교수님께 방문 상담 신청을 진행하실 수 있습니다.<br>
            	&nbsp;&nbsp;&nbsp;</p>
			</div>
			<!-- 신청폼 -->
			<form class="container mx-auto py-3" style="border-style:solid; border-color:#B6B6B6;">
				<div class="row mb-3 w-80 mx-auto">
					<label for="coun-request" class="col-sm-2 col-form-label text-center">학생 학번</label>
					<div class="col-sm-10 d-flex align-items-center">
						<span class="input-group-text" id="std_no" th:text="${userInfo.STUD_NO}"></span>
					</div>
					<label for="coun-request" class="col-sm-2 col-form-label text-center">학생 번호</label>
					<div class="col-sm-10 d-flex align-items-center">
						<span class="input-group-text" id="std_tel" th:text="${userInfo.TELNO}"></span>
					</div>
					<label for="coun-request" class="col-sm-2 col-form-label text-center">학생 이메일</label>
					<div class="col-sm-10 d-flex align-items-center">
						<span class="input-group-text" id="std_email" th:text="${userInfo.STUD_EML_ADDR}">학생 이메일</span>
					</div>
				</div>
				<!-- 상담사 선택, 지도교수로 기본 선택이 되어 있어야함-->
				<div class="row mb-3 w-80 mt-3 mx-auto">
					<label for="coun-request" class="col-sm-2 col-form-label text-center">상담 신청</label>
					<div class="col-sm-10 d-flex align-items-center">
						<span class="input-group-text" id="professor" th:text="${pfInfo.PF_NM}">교수이름</span>
						<input type="hidden" th:value="${pfInfo.PF_NO}" class="pf-no">
						<button type="button" class="btn mx-2" data-bs-toggle="modal" data-bs-target="#pfchoicemodal" style="background-color: #B6B6B6">교수 선택</button>
					</div>
				</div>
				<!-- 날짜 선택 -->
				<div class="row mb-3 w-80 mx-auto">
					<label for="coun-request" class="col-sm-2 col-form-label text-center">날짜 선택</label>
					<div class="col-sm-10 d-flex align-items-center">
						<span class="input-group-text" id="selectDate">선택한 날짜와 시간 여기 표시</span>
						<input type="hidden" class="hPfs_No">
						<img data-bs-toggle="modal" data-bs-target="#pfscdmodal" src="images/calendar_icon.png" alt="Calendar" class="mx-2" id="openSmodal">
					</div>
				</div>

				<!-- 상담 내용 작성 -->
				<div class="row mb-3 w-80 mx-auto">
					<label for="Counseling-content" class="col-sm-2 col-form-label text-center">상담 내용</label>
					<div class="col-sm-10">
					   <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" style="resize:none;"></textarea>
					</div>
				</div>
				<!-- 첨부 파일 -->
				<div class="row mb-3 w-80 mx-auto">
				<label for="" class="col-sm-2 col-form-label text-center">첨부파일</label>
					<div class="col-sm-10 d-flex align-items-center">
						<input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
						<!-- 업로드 버튼은 삭제할지도..? -->
						<button class="btn btn-outline-secondary col-2" type="button" id="inputGroupFileAddon04">업로드</button>
					</div>	
				</div>
				<!-- 상담신청 버튼 -->
				<div class="input-group justify-content-center w-10 mx-auto">
					<button type="button" class="btn mb-3" style="background-color: #A41034; color: white;">상담신청</button>
				</div>
			</form>
			</section>
			</div>
		</main>
	</div>
	<!-- 상담사 선택 모달창 -->
	<div id="pfchoicemodal" class="modal fade" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">지도교수 선택</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table class="table" id="pfList">
						<thead>
							<tr>
								<th scope="col">교수 이름</th>
								<th scope="col">학과</th>
								<th scope="col">전화번호</th>
								<th scope="col">이메일</th>
								<th scope="col">선택</th>
							</tr>
						</thead>
						<tbody>
							<tr scope="row" th:each="pfList : ${pfList}">
								<td>
									<span class="pf_nm" th:text="${pfList.PF_NM}"></span>
									<input type="hidden" th:value="${pfList.PF_NO}" class="pf_no">
								</td>
								<td th:text="${pfList.SCSBJT_NM}"></td>
								<td th:text="${pfList.PF_TELNO}"></td>
								<td th:text="${pfList.PF_EMAIL}"></td>
								<td><button type="button" class="btn pfchoice" style="background-color: #A41034; color: white;">선택</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        		<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 날짜 및 시간 선택 모달창 API 찾아보기 -->
<div id="pfscdmodal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">일정 선택</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="calendar"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 <script type="text/javascript">


	$(function(){
		$(".pfchoice").on('click',function(){
 			let row = $(this).closest('tr');// 버튼이 속한 행 찾기
 			let pf_no = row.find('.pf_no').val();
 			let pf_nm = row.find('.pf_nm').text();
 			
 			console.log('교수번호: ', pf_no );
 			console.log('교수이름: ', pf_nm );
 			
 			$('#professor').text(pf_nm);
 			$('.pf-no').val(pf_no);
 			
 			$('#pfchoicemodal').modal('hide');
 			
 		});
		 $("#openSmodal").on('click',function(){
			let pf_no=$('.pf-no').val();
			console.log(pf_no);
			$.ajax({
				type: 'post',
				url: '/getSData',
				data:{"pf_no" : pf_no},
				dataType: 'json',
				success: function(response){
					//console.log('서버에서 받은 객체:'+JSON.stringify(response));
					 let eventlist = response.map(eventData =>{
						let dateTime=eventData.PF_DATE+'T'+eventData.PF_TIME_CD+':00';
						return {
							title: '예약가능',
							start: dateTime,
							extendedProps:{
								pfs_no: eventData.PFS_NO
							}
						};
					});
					
					console.log(eventlist);
					initCalendar(eventlist);
				},
				error: function(xhr, status, error){
					console.error(error);
				}
			});
		});
		function initCalendar(events) {
			let header = {
					left: 'prev',
					center: 'title',
					right: 'next',
			};
			//console.log(header);
			
		      var calendarEl = document.getElementById('calendar');
		      var calendar = new FullCalendar.Calendar(calendarEl,{
				headerToolbar: header,
				initialView: 'timeGridWeek',
				locale: 'kr',
				slotMinTime: '09:00',
				slotMaxTime: '18:00',
				slotDuration : '01:00:00',
				allDaySlot : false,
				expandRows : true,
				height:800,
				events: events,
				eventClick: function(info){
					//이벤트 삭제
					
					let selectedDate = info.event.start.toISOString().split('T')[0];
					let selectedTime = info.event.start.toTimeString().split(' ')[0].substring(0, 5);
					
					$('#selectDate').text(selectedDate + ' ' + selectedTime);
					let pfs_no = info.event.extendedProps.pfs_no;
					$('#hiddenPfsNo').val(pfs_no);
					 if (confirm("해당 일정을 선택하시겠습니까?")) {
			                // 확인 클릭 시
			                info.event.remove();
			            }

				}
			});
			
			$('#pfscdmodal').on('shown.bs.modal', function () {
				    calendar.updateSize();
				    console.log('난 updatesize 했다.');
			});
			calendar.render();
			console.log('맵로드');
		}
		
		//ajax form 데이터 서버로 전송 DB로 삽입
		/* $('#submitForm').on('click',function(){
			
		}); */
		
	});
     </script>
	<!-- footer-->
	<div class="container px-4 px-lg-5" th:replace="footer :: Footer">
	</div>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>
</html>