<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>심리 상담 신청</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="css/styles.css" rel="stylesheet" />
     <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- fullcalendar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js"></script>
    
    <!-- Bootstrap DateTimePicker CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
	<!-- Bootstrap DateTimePicker JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    
    
	<meta name="description" content="" />
	<meta name="author" content="" />
     
    
     
<style>
       
#sidenav{background: #B6B6B6; float:left; margin-right:20px; padding:10px; margin-top:40px; width:200px; height:780px; text-align:center;}
.button{margin-bottom:30px; color:white; font-size:15pt; width:140px; height:35px; background-color:#A41034; border: none;}
#content{background: #B6B6B6; float:left; padding:10px; margin-top:40px; width:1000px; height:780px;}

.question{width:900px; border-top:2px solid black; border-bottom:2px solid black; margin-left:20px; margin-top:50px;}
.question tr{border-top:1px solid black;}
.question tr:first-child{border-top:0;}
.question th{background:#808285; width:50px; text-align:left;}
.question td{text-align:left; background:#B6B6B6; font-size:15px; line-height:26px; padding-left:5px;}
.question input[type="text"]

.modal .modal_popup {
/*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 0;
}
.modal .modal_popup .close_btn {
    display: block;
    padding: 10px 20px;
    background-color: rgb(116, 0, 0);
    border: none;
    
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.modal.on {
    display: block;
}

</style>
</head>
     
      
<body class="d-flex flex-column" style="height:100%;">
	
 	
 	<!-- 메뉴-->
	<div th:replace="~{menu :: Menu}"></div>
	
	
	<!-- Page Content-->
	<div class="container px-4 px-lg-5" style="height:100%">
	
		
		<div id="sidenav">
			<p style="margin-top:20px; margin-bottom:80px; font-weight:bold; font-size:30pt;">심리상담</p>
			<button class="button" type="submit" onclick="openPage('/psycoun_proc')">이용절차</button><br>
			<button class="button" type="submit" onclick="openPage('/psycoun_type')">검사종류</button><br>
			<button class="button" type="submit" onclick="openPage('/psycoun_app')">상담신청</button>
		</div>
		
		
		<div id="content">
		<section id="application"><br>
			<p style="margin-top:20px; margin-bottom:20px; font-size:23pt; font-weight:bold;">&nbsp| 심리상담센터 방문신청</p>
			
		<!-- Form -->
		<table class="question">
			<tr>
				<th class="th" scope="row"><img src="images/sub_cs_text1.png" alt="학생정보" style="width:135px; height:25px; margin:0;"></th>
				<td><input type="text" title="이름학번학과" class="user" style="width:250px;" placeholder="정보를 입력하세요" 
							th:value="${userInfo.STUD_NM + ' / ' + userInfo.STUD_NO + ' / ' + userInfo.SCSBJT_NM}"/></td>
			</tr>
			<tr>
				<th class="th" scope="row"><img src="images/sub_cs_text2.png" alt="휴대전화번호" style="width:135px; height:25px;"></th>
				<td>
					<select class="telno" title="핸드폰 앞 자리 선택">
					<option value="010" selected>010</option>
					</select>
					<input type="text" title="전화번호 앞" maxlength="4" class="telno" style="width:60px;"
							th:value="${#strings.substring(userInfo.TELNO, 3, 7)}"/>
					<input type="text" title="전화번호 뒤" maxlength="4" class="telno" style="width:60px;"
							th:value="${#strings.substring(userInfo.TELNO, 7, 11)}"/>
				</td>
			</tr>
			<tr>
				<th class="th" scope="row"><img src="images/sub_cs_text3.png" alt="이메일" style="width:135px; height:25px;"></th>
				<td><input type="text" class="email" title="이메일" style="width:250px;" placeholder="예) abc123@naver.com" 
							th:value="${userInfo.STUD_EML_ADDR}" readonly></td>
			</tr>
			<tr>
				<th class="th" scope="row"><img src="images/sub_cs_text4.png" alt="상담가능날짜" style="width:135px; height:25px;"></th>
				<td style="position:relative;">
					<div class="calendar-container" style="position:relative; display:inline-block;">
						<input type="text" class="coundate" title="상담가능날짜" placeholder="YYYY-MM-DD 오전 HH:mm" id="datepicker" style="width:250px;">
						<img src="images/calendar_icon.png" alt="Calendar" class="calendar-icon" id="calendarIcon" style="position:absolute; right:5px; top: 50%; transform: translateY(-50%);">
					</div>
				</td>
			</tr>
			<tr>
				<th class="th" scope="row"><img src="images/sub_cs_text6.png" alt="개인정보활용동의" style="width:135px; height:25px;"></th>
				<td style="position:relative;">
					<div style="position:relative; display:inline-block;">
						<p style="font-size:10pt;">
						법령에 따라 개인을 고유하게 구별하기 위하여 부여된 모든 식별정보(성명, 소속, 휴대폰, 이메일 등)의 수집, 이용에 대한 동의를 받고 있습니다.
						신청시 기재되는 모든 개인정보는 사업진행을 위하여 수집 및 이용될 수 있습니다. 또한 대학평가관련 자료 요청시 교내 관련부서에 자료가 제공될 수 있으며, 철저하게 관리될 예정입니다.<br> 
						수집된 개인정보는 5년 경과(대학 평가 관련 자료 요청 기간)후 즉시 파기됩니다.<br>
						위와 관련하여 본인의 개인고유식별정보 수집, 이용에 관한 내용을 숙지하였고 이에 동의한다면 해당란에 체크해 주십시오.</p>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="border:1px solid black; border-radius: 0px;">
  							<label class="form-check-label" for="flexCheckDefault">개인정보활용에 동의합니다</label>
						</div>
					</div>
				</td>
			</tr>
		</table>
	
		<!-- 신청하기 버튼 눌렀을 때 -->
		<div style="text-align:center;">
			<button type="button" class="btn btn-primary" id="openModalButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="margin-top:50px; margin-left:auto; margin-right:auto; text-align:center; font-size:15pt; width:120px; color:white; background-color:#A41034; border-radius:0; border:none;">
  			신청하기</button>
		</div>
	</section>
	</div>
		
		<!-- 신청하기 버튼 누르면 뜨는 Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  			<div class="modal-dialog modal-dialog-centered">
    			<div class="modal-content" style="border-radius:0; height:270px;">
      				<div class="modal-header" style="padding-top:30px;">
        				<h1 class="modal-title fs-5" id="staticBackdropLabel" style="font-weight:bold;">방문신청</h1>
        				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      				</div>
      				<div class="modal-body">
        				아래의 내용으로 방문을 신청하시겠습니까?<br><br>
        				상담자 : 협의 후 배정 예정<br>
        				상담일시 : 협의 후 배정 예정
      				</div>
      				<div class="modal-footer" style="padding:0;">
      					<div class="container text-center">
      						<div class="row">
      							<div class="col" style="background-color:#B6B6B6; height:40px;">
      								<button type="button" data-bs-dismiss="modal" style="font-weight:bold; border:none; background-color:#B6B6B6; margin-top:5px;">닫기</button>
      							</div>
        						<div class="col" style="background-color:#808285; height:40px;">
        							<button type="button" id="confirmButton" data-bs-dismiss="modal" onclick="CloseModalAndOpenAlert()" style="font-weight:bold; border:none; background-color:#808285; margin-top:5px;">확인</button>
        						</div>
        					</div>
      					</div>
    				</div>
  				</div>
			</div>
		</div>
		
		
	    <div id="calendar"></div>
	    
	<!-- 날짜 선택 풀캘린더 modal -->
    <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">상담 날짜 예약</h5>
                    <button type="button" class="close" id="closeCalendarModalX" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="calendarModalBody">
                	<div id="calendarModalBody"></div>
                </div>
                <div class="modal-footer">
                	<button type="button" class="btn btn-secondary" id="closeCalendarModal"  data-bs-dismiss="modal">닫기</button>
                	<button type="button" class="btn btn-primary" id="saveDateButton">저장</button>
                </div>
            </div>
		</div>
     </div>

	 <!-- 일정 추가 Modal -->
     <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
     	<div class="modal-dialog" role="document">
     		<div class="modal-content">
     			<div class="modal-header">
     				<h5 class="modal-title" id="eventModalLabel">일정 추가</h5>
     				<button type="button" class="close" id="closeEventModalX" aria-label="Close">
     					<span aria-hidden="true">&times;</span>
     				</button>
     			</div>
     			<div class="modal-body">
     				<form id="eventForm">
     					<div class="form-group">
     						<label for="eventTitle">제목</label>
     						<input type="text" class="form-control" id="eventTitle" required>
     					</div>
     					<div class="form-group">
                        	<label for="eventStart">시작 시간</label>
                        	<input type="text" class="form-control" id="eventStart" readonly>
                    	</div>
                    	<div class="form-group">
                        	<label for="eventEnd">종료 시간</label>
                        	<input type="text" class="form-control" id="eventEnd" readonly>
                    	</div>
     				</form>
     			</div>
     			<div class="modal-footer">
     				<button type="button" class="btn btn-secondary" id="closeEventModal">닫기</button>
     				<button type="button" class="btn btn-primary" id="addEventButton">추가</button>
     			</div>
     		</div>
     	</div>
     </div>
	
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@5.7.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@5.7.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@5.7.0/main.min.js"></script>
    
    <!-- Bootstrap DateTimePicker JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>
	
	
	<script>
	//페이지 열기 위한 함수
	function openPage(url){
		//페이지 이름에 해당하는 URL로 이동
		location.href = url;
	}
	
  	//모달을 닫고 Alert를 띄우는 함수
	function CloseModalAndOpenAlert(){
		//모달닫기
		var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
		myModal.hide();
		
		//Alert창 띄우기
		alert("신청이 완료되었습니다");
	}
    
	//확인 버튼 클릭시 Alert창 닫고 모달 닫기
	document.getElementById("confirmButton").addEventListener("click", CloseModalAndOpenAlert);
	
	
	//신청하기 버튼 클릭시
	document.getElementById("openModalButton").addEventListener("click", function() {
    // 폼 데이터를 가져옵니다.
    const userInfo = {
        name: document.querySelector('.user').value,
        phone: document.querySelector('.telno').value,
        email: document.querySelector('.email').value,
        date: document.querySelector('.coundate').value,
        agree: document.getElementById('flexCheckDefault').checked
    };
    
    const nameParts = userInfo.name.split(' / ');
    userInfo.na = nameParts[0].trim(); // "김철수"
    userInfo.sc = nameParts[2].trim(); // "컴퓨터공학과"
    
    // date를 가져와서 공백을 기준으로 나누어 배열로 만듭니다.
    const dateArray = document.querySelector('.coundate').value.split(' ');
    // 첫 번째 요소가 date1입니다.
    userInfo.date1 = dateArray.slice(0, 3).join(' ');
    
    // 시간 부분을 가져오기 위해 배열의 길이를 확인합니다.
    if (dateArray.length >= 5) {
        // 시간 부분에서 ":"을 기준으로 문자열을 분할합니다.
        const timeArray = dateArray[4].split(':');
        
        // 시간을 userInfo에 저장합니다.
        let hour = parseInt(timeArray[0]);
        if ([1, 2, 3, 4, 5].includes(hour)) {
            hour += 12;
        }
        userInfo.time = hour;
    }

    console.log(userInfo);
    
    if (!userInfo.agree) {
        alert('개인정보활용에 동의하셔야 합니다.');
        return;
    }
    
    fetch('/submitAppointment', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(userInfo)
    })
    .then(response => response.json())
    .then(data => {
        console.log('Response data:', data);  // 받은 응답 출력
        if (data.success) {
            alert('신청이 완료되었습니다.');
        } else {
            alert('신청에 실패하였습니다. 다시 시도해주세요.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('신청 중 오류가 발생하였습니다.');
    });

});

/*     // AJAX 요청을 보냅니다.
    $.ajax({
        type: "POST",
        url: "/submit", // 데이터를 전송할 URL을 지정합니다.
        contentType: "application/json",
        data: JSON.stringify(formData),
        success: function(response) {
            // 요청이 성공했을 때의 처리를 작성합니다.
            window.location.href = "/pcoun"; // 관리자 페이지로 리다이렉트합니다.
        },
        error: function(xhr, status, error) {
            // 요청이 실패했을 때의 처리를 작성합니다.
            console.error(error);
        }
    });
}); */
    
	
	//=================================================================================================================================================
	
	//여기서부터 FullCalendar Modal 관련 Script
	
		// 달력 icon 클릭시 full calendar modal 열기
            var calendarIcon = document.getElementById('calendarIcon');
            calendarIcon.addEventListener('click', function() {
                $('#calendarModal').modal('show');
            });
		
        // full calendar 구현
        $(document).ready(function () {
        	$(function () {
        	var addedEvents = []; // 추가된 일정을 저장할 배열로 수정
        	var addedEvent = null;
        	var deletedDates = []; // 삭제된 일정에 해당하는 날짜를 저장할 배열
        	
        	// 달력 초기화
            var calendarEl = document.getElementById('calendarModalBody');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            	height: 750, // calendar 높이 설정        
            	expandRows: true, // 화면에 맞게 높이 재설정        
            	slotMinTime: '09:00', // Day 캘린더에서 시작 시간        
            	slotMaxTime: '18:00', // Day 캘린더에서 종료 시간
            	slotDuration: '01:00:00', // 1시간 간격으로 시간 표시
            	slotLabelInterval: '01:00:00', // 1시간 간격으로 레이블 표시
            	// 해더에 표시할 툴바        
            	headerToolbar: {          
            		left: 'prev,next today',          
            		center: 'title',          
            		right: 'dayGridMonth,timeGridWeek,timeGridDay'        
            	},
                initialView: 'dayGridMonth', // 초기 달력 뷰 설정
                locale: 'ko', // 한국어로 설정
                timeZone: 'local',
                editable: true,
                selectable: true,
                select: function(info) {
                	// 시작 시간을 정각으로 설정
                    var start = new Date(info.start);
                    start.setMinutes(0);
                    start.setSeconds(0);
                    start.setMilliseconds(0);
                    
                 	// 종료 시간을 시작 시간으로부터 50분 후로 설정
                    var end = new Date(info.start);
                    end.setMinutes(end.getMinutes() + 50);
                    
                    $('#eventModal').modal('show');
                    $('#eventForm')[0].reset();
                    $('#eventModal').data('selectedEvent', { start: start, end: end });
                    $('#eventStart').val(formatDateTime(start)); // 사용자 친화적인 시간 형식으로 표시
                    $('#eventEnd').val(formatDateTime(end)); // 사용자 친화적인 시간 형식으로 표시
                },
                eventClick: function(info) {
                    if (confirm("이 일정을 삭제하시겠습니까?")) {
                        info.event.remove();
                        var deletedDate = info.event.startStr;
                        removeSavedDate(info.event.startStr); // 삭제된 일정에 해당하는 저장된 날짜 삭제
                        clearDatePicker(deletedDate); // 삭제된 일정에 해당하는 datepicker 날짜 삭제
                        deletedDates.push(deletedDate); // 삭제된 일정에 해당하는 날짜를 저장
                    }
                }
            });
            calendar.render();
            
            
         	// 일정 추가 버튼 클릭 시 이벤트 처리
            $('#addEventButton').on('click', function() {
                /* // 사용자가 입력한 일정 정보 가져오기
                var eventModalData = $('#eventModal').data('selectedEvent');
                var title = $('#eventTitle').val();
                var start = new Date(eventModalData.start);
                var end = new Date(eventModalData.end); */
                
             	// 사용자가 선택한 시작 시간과 종료 시간 가져오기
                var eventModalData = $('#eventModal').data('selectedEvent');
                var start = new Date(eventModalData.start);
                var end = new Date(eventModalData.end);
                
             	// 캘린더에서 중복되는 일정 확인
                var overlappingEvents = calendar.getEvents().filter(function (event) {
                    return (start >= event.start && start < event.end) || (end > event.start && end <= event.end);
                });
             	
             	// 중복되는 일정이 있을 경우 경고 메시지 표시하고 일정 추가 중지
                if (overlappingEvents.length > 0) {
                    alert('선택한 시간에 이미 일정이 있습니다.');
                    return;
                }

             	// 사용자가 입력한 일정 정보 가져오기
                var title = $('#eventTitle').val();
                

                // 새 이벤트 생성
                var newEvent = {
                    title: title,
                    start: start,
                    end: end,
                    allDay: false // 시간 지정된 일정이므로 false로 설정
                };  

                // 캘린더에 이벤트 추가
                calendar.addEvent(newEvent);
                
             	// 일정 추가 버튼 비활성화
                $('#addEventButton').prop('disabled', true);
                
             	// 추가된 일정 배열에 추가
                addedEvents.push(newEvent);

                // 일정 추가 모달 닫기
                $('#eventModal').modal('hide');
                
             	// 캘린더 새로고침
                calendar.refetchEvents();
             	
             	// 상담 날짜 예약 모달에서 datepicker에 날짜와 시간 설정
                var formattedDate = formatDateTime(start);
                $('#datepicker').val(formattedDate); // datepicker에 날짜 설정
                $('#timepicker').val(formattedDate); // timepicker에 시간 설정
                
                // 일정이 추가되었을 때 알림 표시
                alert('일정이 추가되었습니다.');
                
                /* // 변경 사항 저장 여부 확인
                if (addedEvents.length > 0) {
                    alert('일정이 등록되었습니다.'); // 저장 버튼 눌렀을 때 alert창 띄우기
                    //addedEvents = []; // 저장 후 추가된 일정 배열 비움
                } else {
                    alert('추가된 일정이 없습니다.');
                } */
            });
         	
         	
         	
         	
            var selectedDateTime = null; // 상담 날짜 예약 모달에서 선택한 날짜와 시간 저장 변수

         // 일정 추가 모달이 열릴 때 선택한 날짜와 시간 기억
         calendar.on('dateClick', function(info) {
             $('#eventModal').modal('show');

             var start = new Date(info.date);
             //start.setHours(9);

             var end = new Date(start);
             end.setMinutes(start.getMinutes() + 50);

             $('#eventForm')[0].reset();
             $('#eventModal').data('selectedEvent', { start: start, end: end });
             $('#eventStart').val(formatDateTime(start));
             $('#eventEnd').val(formatDateTime(end));

             // datepicker의 값을 선택한 날짜로 설정
             var formattedDate = formatDateTime(start);
             $('#datepicker').val(formattedDate);
             $('#timepicker').val(formattedDate);

             console.log("!!!" + formattedDate);
         });

         $('#calendarModal').on('show.bs.modal', function () {
             var events = calendar.getEvents(); // 캘린더에 있는 모든 이벤트 가져오기
             events.forEach(function(event) {
                 calendar.addEvent(event);
             });

             if (selectedDateTime) {
                 var formattedDateTime = formatDateTime(selectedDateTime);
                 $('#datepicker').val(formattedDateTime);
                 $('#timepicker').val(formattedDateTime);
             }
         });

         // 상담 날짜 예약 모달이 닫힐 때, 선택한 날짜와 시간 초기화
         $('#calendarModal').on('hidden.bs.modal', function () {
             selectedDateTime = null;
         });

         // 날짜 선택 모달(calendarModal)을 static으로 설정
         $('#calendarModal').modal({
             backdrop: 'static',
             keyboard: false
         });

         // 일정 추가 모달(eventModal)을 static으로 설정
         $('#eventModal').modal({
             backdrop: 'static',
             keyboard: false
         });

         $('#calendarIcon').on('click', function () {
             $('#calendarModal').modal('show');
         });

         $('#closeEventModal').on('click', function() {
             $('#eventModal').modal('hide');  // 닫기 버튼 눌렀을 때 일정 추가 모달 닫기
         });

         $('#closeEventModalX').on('click', function() {
             $('#eventModal').modal('hide');  // X버튼 눌렀을 때 일정 추가 모달 닫기
         });

         $('#closeCalendarModal').on('click', function() {
             $('#calendarModal').modal('hide');  // 닫기 버튼 눌렀을 때 날짜 선택 모달 닫기
         });

         $('#closeCalendarModalX').on('click', function() {
             $('#calendarModal').modal('hide');  // X버튼 눌렀을 때 날짜 선택 모달 닫기
         });
		
         $('#saveDateButton').on('click', function() {
        	    // 선택한 날짜와 시간을 기억
        	    selectedDateTime = $('#datepicker').val(); // datepicker에서 선택한 값을 가져옴
        	    var selectedTime = $('#timepicker').val(); // timepicker에서 선택한 값을 가져옴

        	    if (selectedDateTime && selectedTime) {
        	        // 선택한 날짜와 시간 출력
        	        console.log("Selected Date and Time: " + selectedDateTime + " " + selectedTime);
        	    }

        	    if (addedEvents.length > 0 || deletedDates.length > 0) {
        	        if (addedEvents.length > 0) {
        	            alert('예약이 완료되었습니다.');
        	            addedEvents = [];
        	        }
        	        if (deletedDates.length > 0) { // 추가: 삭제된 날짜가 있을 경우 알림 표시
        	            alert('변경된 내용이 저장되었습니다.');
        	            deletedDates = [];
        	        }
        	    } else {
        	        alert('변경된 내용이 없습니다.');
        	    }
        	});

            function removeSavedDate(date) {
                // 저장된 날짜 삭제하는 코드 추가
                console.log('날짜가 삭제되었습니다.:', date);
            }
            
            function clearDatePicker() {
            	// FullCalendar에서 반환되는 날짜 형식으로 변환하여 비교
                //var formattedDate = new Date(date);
                //var formattedDateString = formattedDate.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' });

                //if ($('#datepicker').val() === formattedDateString) {
                    $('#datepicker').val('');
                //}
            }
            
            function saveDate(date) {
                // 저장된 날짜를 처리하는 코드 추가
                console.log('날짜가 저장되었습니다.:', date);
            }
            
            function formatDateTime(date) {
                // 사용자 친화적인 시간 형식으로 변환하는 함수
                var options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
                return new Date(date).toLocaleDateString('ko-KR', options);
            }
        });
    });

 	
	    </script>
	
	</div>
	
	

    
    
		
	 	
	<!-- 푸터-->
	<div class="container px-4 px-lg-5 fixed-bottom" th:replace="~{footer :: Footer}"></div>
	
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>


		
</body>
</html>